<html>
    <head>
        <title>GIROPOPS STRIGUS GIRUS</title>
    </head>
    <body>
	    <h1>  DESCOMPLICANDO O ANSIBLE <p>
		    #VAIII</h1>
	    <h2>ESTE AQUI EH O MEU IP: {{ ansible_facts.eth0.ipv4.address }}</h2>
    </body>
</html>
